<template name="posts_digest">
    <div class="grid">
      <div class="grid-block">
        Top 5 posts do dia de ontem |
      {{#if showPreviousDate}}
      <a href="{{previousDateURL}}" class="prev-link">Previous Day</a> | 
      {{/if}}
      {{currentDate}} |
      {{#if showNextDate}}
      <a href="{{nextDateURL}}" class="next-link">Next Day</a>
      {{/if}}
      </div>
    </div>
    <div class="posts grid list">
      {{#if hasPosts}}
        {{#each posts}}
          {{> post_item}}
        {{/each}}
      {{else}}
        <p class="empty-notice">Desculpe, nada hoje.</p>
      {{/if}}
    </div>
</template>