<template name="user_edit">
  <div class="grid-small grid-block dialog user-edit">
  	{{#with user}}
    {{#if profileIncomplete}}
    <div>
      Por favor, complete seu perfil antes de continuar.
    </div>
    {{/if}}
    <form>
      <h2>Minha conta</h2>
      {{#if username}}
      <div class="control-group">
        <label>Username</label>
        <div class="controls">
          <input id="username" name="username" disabled="disabled" type="text" value="{{username}}" />
        </div>
      </div>
      {{/if}}
<!--       <div class="control-group">
        <label>Email</label>
        <div class="controls">
          <input id="email" name="email" disabled="disabled" type="text" value="{{email}}" />
        </div>
      </div> -->
      <div class="control-group">
        <label>Display Name</label>
        <div class="controls">
          <input name="name" type="text" value="{{profile.name}}" />
        </div>
      </div>
      <div class="control-group">
        <label>Email</label>
        <div class="controls">
          <input name="email" type="text" value="{{userEmail}}" />
        </div>
      </div>
      <div class="control-group">
        <label>Bio</label>
        <div class="controls"><textarea name="bio" type="text">{{profile.bio}}</textarea></div>
      </div>
      <h3>Alterar senha?</h3>
      <div class="control-group">
        <label>Senha antiga</label>
        <div class="controls"><input name="old_password" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>Nova senha</label>
        <div class="controls"><input name="new_password" type="text" value="" /></div>
      </div>
          <div class="control-group">
            <label class="control-label">Notificações por email</label>
            <div class="controls">
              <label class="radio">
                <input id="notifications_activity" type="radio" value="1" name="notifications" {{hasNotificationsActivity}} /> Quando as pessoas me responderem
              </label>
              <label class="radio">
                <input id="notifications_none" type="radio" value="0" name="notifications" {{hasNotificationsNone}} /> Nenhuma
              </label>
<!--               <label class="radio">
                <input id="notifications_all" type="radio" value="2" name="notifications" {{hasNotificationsAll}} /> All
              </label> -->
            </div>
          </div>
      <div class="form-actions">
        <a href="/forgot_password">Esqueceu sua senha?</a>
        <input type="submit" class="button" value="Salvar" />
      </div>
    </form>
    {{/with}}
  </div>
</template>
